<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liberty.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.OtherActivity"></activity>
        <activity
            android:name=".activity.StandardActivity"
            android:launchMode="standard" />
        <activity
            android:name=".activity.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.Abnormal2Activity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activity.AbnormalActivity" />
        <activity android:name=".activity.NextActivity" />
        <activity android:name=".service.ServiceDemoActivity" />
        <activity android:name=".contentprovider.ContentProviderDemoActivity" />
        <activity android:name=".broadcastreceiver.BroadcastReceiverDemoActivity" />
        <activity android:name=".activity.ActivityDemoActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>